@import '../../../styles/settings/index';

.who-we-help {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 38px;
        line-height: 55px;
        letter-spacing: -0.76px;
        color: $color-text-base;
        margin-bottom: 25px;
    }

    &__buttons {
        margin-top: 52px;
        margin-bottom: 68px;
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__element {    
            height: 100%;        
            text-align: center;
            font-size: 24px;
            color: $color-text-base;
            padding: 11px 50px;
            margin: 0 25px;
            transition: all 0.3s ease-out;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .border {
            outline: 0.75px solid $color-text-base;
        }
    }

    &__content {
        margin: 0 278px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__paragraph {
            max-width: 640px;
            text-align: center;
            font-size: 22px;
            font-weight: 30px;
            color: $color-text-base;
            margin-bottom: 33px;
        }

        &__line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1344px;

            &:nth-of-type(2) {
                border-top: 0.75px solid $color-text-base;;
                border-bottom: 0.75px solid $color-text-base;;
            }

            &__name {
                padding: 33px 0;                
                h3 {
                    text-align: left;
                    font-weight: 300;
                    font-size:26px;
                    line-height: 31px;
                    font-family: $font-alt;
                    color: $color-text-base;
                }

                h4 {
                    text-align: left;
                    font: italic normal 300 18px/22px $font-alt;
                    color: $color-text-base;
                }
            }

            &__stuff {
                width: 450px;
                text-align: right;
                font: normal normal 300 18px/22px $font-alt;
                color: $color-text-base;
                padding-right: 40px;
            }
        }

        &__page {
            display: flex;
            justify-content: center;
            align-items: center;

            &__number {
                font: normal normal normal 18px/24px $font-base;
                padding: 13px 15px;
                color: $color-text-base;
                margin: 10px;
                cursor: pointer;
            }
    
            .border {
                outline: 1px solid #707070;
            }
        }
    }
}