@import '../../../../../styles/settings/index';

.form1 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 50px;

  label {
    font-size: 22px;
    color: $color-text-alt;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 35px;
      height: 35px;
      border: 1px solid $color-text-alt;
      margin-right: 25px;
      cursor: pointer;

      &:checked {
        background-color: $color-border;
      }
    }
  }
}
