@import '../../styles/settings/index';

.logout {
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 38px;
            line-height: 55px;
            letter-spacing: -0.76px;
            color: $color-text-base;
            margin-bottom: 40px;
        }

        &__button {
            margin-top: 40px;
            text-decoration: none;
            font-size: 18px;
            color: $color-text-base;
            padding: 10px 20px;
            outline: 0.75px solid $color-text-base;
            cursor: pointer;
        }
    }
}