@import '../../../../../styles/settings/index';

.last-step {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    width: 600px;
    font-size: 35px;
    line-height: 47px;
    font-weight: 300;
    color: $color-text-alt;
    text-align: center;
    margin-bottom: 25px;
  }
}
