@import '../../styles/settings/index';

.login {
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__content {
        margin-top: 10px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 38px;
            line-height: 55px;
            letter-spacing: -0.76px;
            color: $color-text-base;
            margin-bottom: 25px;
        }
        
        &__form {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__data {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                label {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: left;
                    font-weight: 600;
                    font-size: 16px;
                    color: $color-text-base;
                    margin-bottom: 30px;

                    input {
                        font-size: 18px;
                        color: #3c3c3cab;
                        margin-top: 8px;
                        padding: 4px;
                        border: none;
                        border-bottom: 1px solid #707070;
                        background-color: $color-transparent;
                    }

                    .border-error {
                        border-color: red;
                    }

                    .form-error-alert {                            
                        font-size: 14px;
                        line-height: 20px;
                        color: red;
                    }

                    .form-no-error {
                        visibility: hidden;
                    }

                    .center {
                        align-self: center;
                    }
                }
            }

            &__buttons {
                margin-top: 20px;
                width: 180%;
                display: flex;
                justify-content: space-between;

                &__element {
                    text-decoration: none;
                    font-size: 18px;
                    color: $color-text-base;
                    padding: 10px 20px;
                    outline: 0 solid $color-transparent;
                    transition: outline-color .3s ease-out;

                    &:hover {
                        outline: 0.75px solid $color-text-base;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}