@import '../settings/index';

.header {
    position: absolute;
    top: 50px;
    left: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    &__login-buttons {
        margin-bottom: 35px;
        margin-right: 20px;

        &__link {
            font-size: 13px;
            color: $color-text-alt;
            text-decoration: none;
            padding: 10px;
            outline: 0 solid $color-transparent;
            transition: outline-color .3s ease-in-out;

            &:hover {
                outline: 0.75px solid $color-border;
                cursor: pointer;
            }
        }
    }

    &__nav {
        &__link {
            font-size: 18px;
            color: $color-text-base;
            padding: 10px 20px;
            margin-left: 20px;
            outline: 0 solid $color-transparent;
            transition: outline-color .3s ease-out;

            &:hover {
                outline: 0.75px solid $color-text-base;
                cursor: pointer;
            }
        }
    }
}